<!DOCTYPE html>
<html class="core" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>FT Quick Pick</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!--
		Perform your cuts the mustard test.
		For information about what features come bundled with other
		features in all browsers, see caniuse.com
	-->
	<script>
		var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);

		if (cutsTheMustard) {
			// Swap the `core` class on the HTML element for an `enhanced` one
			// We're doing it early in the head to avoid a flash of unstyled content
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>

	<style>
		/* Hide any enhanced experience content when in core mode, and vice versa. */
		.core .o--if-js,
		.enhanced .o--if-no-js { display: none !important; }

	html {
			/* Set a font family on the whole document */
			font-family: Georgia, serif;

			/* Prevent navigation menus from creating
			   extra space on sides of the page */
			overflow-x: hidden;
		}

		body {
			/* Remove space around the document */
			margin: 0;
		}

		/* Add any other inline styles here */
	</style>

	<!--
		Load the Origami stylesheet.
		Replace a,b,c with the names of the additional modules you want to load.
	-->
	<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-header@^7.2.10,o-footer@^6.0.8,o-grid@^4.3.8,o-typography@^5.5.0,o-buttons@^5.9.0,o-teaser@^2.2.2" />
	<link rel="stylesheet" href="/stylesheets/style.css" />

	<!--
		Unconditionally load the polyfill service to provide the best support
		possible for modern web standards.
		Only features missing in this user agent will be filled.
		If you want, you can provide a list of features to polyfill, otherwise
		all features that can be polyfilled will be.
		See the polyfill service home page for more details:
		https://cdn.polyfill.io/
	-->
	<script src="https://polyfill.io/v2/polyfill.min.js"></script>

	<!--
		Load main JavaScript bundle (asynchronously, to make sure it's non-blocking).
	-->
	<script>
		(function(src) {
			if (cutsTheMustard) {
				var o = document.createElement('script');
				o.async = o.defer = true;
				o.src = src;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(o, s);
			}
		}('https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-header@^7.2.10,o-footer@^6.0.8,o-grid@^4.3.8,o-typography@^5.5.0,o-buttons@^5.9.0,o-teaser@^2.2.2'));
	</script>
</head>
<body>

  <header class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js="">
	<div class="o-header__row o-header__top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">

				<div class="o-header__top-column o-header__top-column--left">
					<a href="#o-header-drawer" class="o-header__top-link o-header__top-link--menu" aria-controls="o-header-drawer" title="Open drawer menu">
						<span class="o-header__top-link-label">Menu</span>
					</a>
					<a href="#o-header-search" class="o-header__top-link o-header__top-link--search" aria-controls="o-header-search" title="Open search bar">
						<span class="o-header__top-link-label">Search</span>
					</a>
				</div>

				<div class="o-header__top-column o-header__top-column--center">
					<!--<div class="o-header__top-takeover"></div>-->
					<a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>

				<div class="o-header__top-column o-header__top-column--right">
					<!--<div class="o-header__top-takeover"></div>-->
					<a class="o-header__top-link o-header__top-link--myft" href="/myft" aria-label="My F T">
						<span class="o-header__visually-hidden">myFT</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="o-header-search" class="o-header__row o-header__search o--if-js" role="search" data-o-header-search="">
		<div class="o-header__container">
			<form class="o-header__search-form" action="/search/submit/" method="post" role="search" aria-label="Site search">
				<label class="o-header__visually-hidden" for="o-header-search-term-js">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__search-term" id="o-header-search-term-js" name="id" type="text" placeholder="Search the FT"></input>
				<button class="o-header__search-submit" type="submit">
					Search
				</button>
				<button class="o-header__search-close" type="button" aria-controls="o-header-search" title="Close search bar">
					<span class="o-header__visually-hidden">Close</span>
				</button>
			</form>
		</div>
	</div>

</header>

<div class="o-header__drawer" id="o-header-drawer" role="navigation" aria-label="Drawer menu" data-o-header-drawer="" data-o-header-drawer--no-js="">
	<div class="o-header__drawer-inner">

		<div class="o-header__drawer-tools">
			<a class="o-header__drawer-tools-logo" href="/">
				<span class="o-header__visually-hidden">Financial Times</span>
			</a>
			<button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer" title="Close drawer menu">
				<span class="o-header__visually-hidden">Close</span>
			</button>
		</div>

		<nav class="o-header__drawer-editions" aria-label="Edition switcher">
			<a class="o-header__drawer-editions-link" href="/uk?edition=uk" aria-label="Current edition" aria-selected="true">UK Edition</a>
			<a class="o-header__drawer-editions-link" href="/international?edition=international">International Edition</a>
		</nav>

		<div class="o-header__drawer-search">
			<form class="o-header__drawer-search-form" action="/search/submit/" method="post" aria-label="Site search">
				<label class="o-header__visually-hidden" for="o-header-drawer-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__drawer-search-term" id="o-header-drawer-search-term" name="id" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search the FT"></input>
				<button class="o-header__drawer-search-submit" type="submit">
					<span class="o-header__visually-hidden">Search</span>
				</button>
			</form>
		</div>

		<nav class="o-header__drawer-menu o-header__drawer-menu--primary">
			<ul class="o-header__drawer-menu-list">
						<li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">Top sections</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--selected" href="#" aria-label="Current page" aria-selected="true">Home</a>
						</li>
						<li class="o-header__drawer-menu-item ">
								<div class="o-header__drawer-menu-toggle-wrapper">
									<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--unselected" href="#">World</a>
									<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected" aria-controls="o-header-drawer-child-1">
										Show more World links
									</button>
								</div>
								<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-1">
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">World Economy</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">UK</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">US</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">China</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Africa</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Asia Pacific</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Emerging Markets</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Europe</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Latin America</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Middle East and Africa</a>
									</li>
								</ul>
						</li>
						<li class="o-header__drawer-menu-item ">
								<div class="o-header__drawer-menu-toggle-wrapper">
									<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--unselected" href="#">UK</a>
									<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected" aria-controls="o-header-drawer-child-2">
										Show more UK links
									</button>
								</div>
								<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-2">
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">UK Economy</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">UK Politics &amp; Policy</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">UK Companies</a>
									</li>
								</ul>
						</li>
						<li class="o-header__drawer-menu-item ">
								<div class="o-header__drawer-menu-toggle-wrapper">
									<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--unselected" href="#">Companies</a>
									<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected" aria-controls="o-header-drawer-child-3">
										Show more Companies links
									</button>
								</div>
								<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-3">
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Energy</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Financials</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Health</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Industrials</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Media</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Retail &amp; Consumer</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Technology</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Telecoms</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Transport</a>
									</li>
								</ul>
						</li>
						<li class="o-header__drawer-menu-item ">
								<div class="o-header__drawer-menu-toggle-wrapper">
									<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--unselected" href="#">Markets</a>
									<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected" aria-controls="o-header-drawer-child-4">
										Show more Markets links
									</button>
								</div>
								<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-4">
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Alphaville</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Markets Data</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Capital Markets</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Commodities</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Currencies</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Equities</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Fund Management</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Trading</a>
									</li>
								</ul>
						</li>
						<li class="o-header__drawer-menu-item ">
								<div class="o-header__drawer-menu-toggle-wrapper">
									<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--unselected" href="#">Opinion</a>
									<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected" aria-controls="o-header-drawer-child-5">
										Show more Opinion links
									</button>
								</div>
								<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-5">
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Columnists</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">FT View</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">The Big Read</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Lex</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Alphaville</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Obituaries</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Letters</a>
									</li>
								</ul>
						</li>
						<li class="o-header__drawer-menu-item ">
								<div class="o-header__drawer-menu-toggle-wrapper">
									<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--unselected" href="#">Work &amp; Careers</a>
									<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected" aria-controls="o-header-drawer-child-6">
										Show more Work &amp; Careers links
									</button>
								</div>
								<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-6">
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Business School Rankings</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Business Education</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Entrepreneurship</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Recruitment</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Business Books</a>
									</li>
								</ul>
						</li>
						<li class="o-header__drawer-menu-item ">
								<div class="o-header__drawer-menu-toggle-wrapper">
									<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--unselected" href="#">Life &amp; Arts</a>
									<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected" aria-controls="o-header-drawer-child-7">
										Show more Life &amp; Arts links
									</button>
								</div>
								<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-7">
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">House &amp; Home</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Books</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Food &amp; Drink</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Travel</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Style</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Arts</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Sports</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Music</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Film, TV &amp; Radio</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Magazine</a>
									</li>
								</ul>
						</li>
						<li class="o-header__drawer-menu-item ">
								<div class="o-header__drawer-menu-toggle-wrapper">
									<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--unselected" href="#">Personal Finance</a>
									<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected" aria-controls="o-header-drawer-child-8">
										Show more Personal Finance links
									</button>
								</div>
								<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-8">
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Property &amp; Mortgages</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Investments</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Pensions</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Tax</a>
									</li>
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="#">Bankings &amp; Savings</a>
									</li>
								</ul>
						</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#">Science &amp; Environment</a>
						</li>
						<li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">FT recommends</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#">Lex</a>
						</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#">Alphaville</a>
						</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#">Lunch with the FT</a>
						</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#">Video</a>
						</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#">Special Reports</a>
						</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#">News feed</a>
						</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#">Newsletters</a>
						</li>
						<li class="o-header__drawer-menu-item o-header__drawer-menu-item--divide">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link--secondary o-header__drawer-menu-link--unselected" href="#">My FT</a>
						</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link--secondary o-header__drawer-menu-link--unselected" href="#">Portfolio</a>
						</li>
						<li class="o-header__drawer-menu-item ">
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link--secondary o-header__drawer-menu-link--unselected" href="#">Today's Paper</a>
						</li>
			</ul>
		</nav>

		<nav class="o-header__drawer-menu o-header__drawer-menu--user">
			<ul class="o-header__drawer-menu-list">
						<li class="o-header__drawer-menu-item">
							<a class="o-header__drawer-menu-link" href="/products?segID=400863&amp;segmentID=190b4443-dc03-bd53-e79b-b4b6fbd04e64">Subscribe</a>
						</li>
						<li class="o-header__drawer-menu-item">
							<a class="o-header__drawer-menu-link" href="/login">Sign In</a>
						</li>
			</ul>
		</nav>

	</div>
</div>





<!-- RENDER MAIN BODY OF CONTENT HERE -->
<div class="o-grid-container space">
	<div class="o-grid-row">
    		{{{ body }}}
    </div>
</div>







<footer class="o-footer o-footer--theme-light" data-o-component="o-footer" data-o-footer--no-js="">
	<div class="o-footer__container">
		<div>
			<ul class="o-footer__legal-links">
				<li><a href="http://help.ft.com/help/legal-privacy/terms-conditions/">Terms &amp; Conditions</a></li><li><a href="http://help.ft.com/help/legal-privacy/privacy/">Privacy</a></li><li><a href="http://help.ft.com/help/legal-privacy/cookies/">Cookies</a></li><li><a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/">Copyright</a></li>
			</ul>
		</div>
		<div class="o-footer__copyright" role="contentinfo">
			<small>
				Markets data delayed by at least 15 minutes. &#xA9; THE FINANCIAL TIMES LTD .
				<abbr title="Financial Times" aria-label="F T">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.<br></br>
				The Financial Times and its journalism are subject to a self-regulation regime under the <a href="http://aboutus.ft.com/en-gb/ft-editorial-code/" aria-label="F T Editorial Code of Practice">FT Editorial Code of Practice</a>.
			</small>
		</div>
	</div>
	<div class="o-footer__brand">
		<div class="o-footer__container">
			<div class="o-footer__brand-logo"></div>
		</div>
	</div>
</footer>

<script src="//www.ft.com/__origami/service/build/v2/bundles/js?modules=o-footer%406.0.8%3A%2Fdemos%2Fsrc%2Fdemo.js%2Co-fonts%2Co-normalise"></script>



<script src="//www.ft.com/__origami/service/build/v2/bundles/js?modules=o-header%407.2.9%3A%2Fdemos%2Fsrc%2Fmain.js%2Co-colors%2Co-normalise"></script>
  
</body>
</html>


